body { padding-top: 70px; }

.nav.nav-pills a.active {
    color: #fff;
    background-color: #337ab7;
}

.navbar-nav > li > a.active {
    color: #fff !important;
    background-color: #080808 !important;
}

form {
	*:not(button).dirty {
		&:valid {
			border: solid 1px green !important;
		}

		&:invalid {
			border: solid 1px red !important;
		}
	}
}