body { padding-top: 70px; }

.nav.nav-pills a.active {
    color: #fff;
    background-color: #337ab7;
}

.navbar-nav > li > a.active {
    color: #fff !important;
    background-color: #080808 !important;
}